<%- include admin_navbar.ejs %>
<center>
    <div class="description-box">
        <img src="/images/<%= describe.image %>" width="30%" height="30%" style="margin-left: 10px;">
          <h4><b><%= describe.title %></b></h4> 
          <h1><%= describe.price %></h1> 
          <h4><%= describe.description %></h4>
    </div>
  </center>
